body,
main {
  display: flex;
}

body {
  flex-direction: column;
  background-color: #fff9c9;
}
main {
  flex-direction: row;
  flex: auto;
}
.logo {
  width: 300px;
  height: auto;
}
h1 {
  font-size: 48px;
  font-weight: bolder;
}
article {
  flex: 2;
}
aside {
  flex: 1;
  background-color: #f8fdcf;
}
article,
aside {
  overflow-y: auto;
}
.article-table {
  background-color: #c3edc0;
}

.article-table,
thead,
tbody {
  border: solid;
  border-color: #fff9c9;
}
